---
layout: default
---


<h3>The 9th International Conference on Smart Media and Applications (SMA 2020)</h3>
<h3>Jeju, South Korea, September 17-19, 2020</h3>

<img src="https://sma-2020.github.io/image/jeju-island.jpg" alt="">


<h3>Important Dates</h3>
<ul>
                            <li><a>Paper Submission : July	31,  2020 </a></li>
                            <li><a>Author Notification : Aug.	15,  2020 </a></li>
                            <li><a>Camera-Ready Copy : Aug.	30,  2020 </a></li>
                         </ul>

<footer>
  <small>Hosted by Korea Institute of Smart Media 
In-Cooperated with ACM SIGAPP (TBA)</small>
<img src="https://sma-2020.github.io/image/logo.png" alt="">
</footer>

{% if paginator.previous_page %}
<a href='{{ site.url }}{{ paginator.previous_page_path }}'>Previous</a>
{% endif %}

&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;

{% if paginator.next_page %}
<a href='{{ site.url }}{{ paginator.next_page_path }}'>Next</a>
{% endif %}
