<header>
    <h1><a href='http://sma-2020.github.io/'>The 9th International Conference on Smart Media and Applications (SMA 2020)</a></h1>
</header>
<a href='http://sma-2020.github.io/'> Home</a> | <a href='http://sma-2020.github.io/aim/'>Aim&Scope </a> | <a href='http://sma-2020.github.io/papers/'> Papers</a> | <a href='http://sma-2020.github.io/track/'> Special Workshop/Track Proposal</a> | <a href='http://sma-2020.github.io/date/'>Important Dates </a> | <a href='http://sma-2020.github.io/date/'>Paper Submission </a>
<hr>
