<header>
    <h1><a href='http://sma-2020.github.io/'>SMA 2020</a></h1>
    <h2> Jeju, South Korea, September 17-19, 2020 <h2>
</header>
<a href='http://sma-2020.github.io/'> Home</a> | <a href='http://sma-2020.github.io/committee/'>Committee </a> | <a href='http://sma-2020.github.io/papers/'> Call for Papers</a> | <a href='http://sma-2020.github.io/program/'> Program</a> | <a href='http://sma-2020.github.io/registration/'>Registration </a> | <a href='http://sma-2020.github.io/date/'>Paper Submission </a>
<hr>
